/* Fonts */
@font-face {
    font-family: 'SlateW02';
    src: url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW02-Bk.eot');
    src: url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW02-Bk.eot?#iefix') format('embedded-opentype'),
        url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW02-Bk.woff2') format('woff2'),
        url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW02-Bk.woff') format('woff'),
        url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW02-Bk.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SlateW01';
    src: url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW01-Black.eot');
    src: url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW01-Black.eot?#iefix') format('embedded-opentype'),
        url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW01-Black.woff2') format('woff2'),
        url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW01-Black.woff') format('woff'),
        url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW01-Black.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SlateW01';
    src: url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW01-Bold.eot');
    src: url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW01-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW01-Bold.woff2') format('woff2'),
        url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW01-Bold.woff') format('woff'),
        url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW01-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SlateW01';
    src: url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW01-Medium.eot');
    src: url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW01-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW01-Medium.woff2') format('woff2'),
        url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW01-Medium.woff') format('woff'),
        url('https://secure.espncdn.com/promotions/bsa/2019/apps/allstate/goodworks/fonts/SlateW01-Medium.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
