/* Coolors Exported Palette - coolors.co/ff0000-fe1844-e8ebf7-acbed8-f2d398 */

/* HSL */
$color1: hsla(0%, 100%, 50%, 1);
$color2: hsla(349%, 99%, 55%, 1);
$color3: hsla(228%, 48%, 94%, 1);
$color4: hsla(215%, 36%, 76%, 1);
$color5: hsla(39%, 78%, 77%, 1);

/* RGB */
$color1: rgba(255, 0, 0, 1);
$color2: rgba(254, 24, 68, 1);
$color3: rgba(232, 235, 247, 1);
$color4: rgba(172, 190, 216, 1);
$color5: rgba(242, 211, 152, 1);