$width-banner--min: 320px;
$width-banner--max: 640px;
$height-banner--min: 480px;
$height-banner--max: 960px;
$media-threshold: 440px;

$color-white: #fff;
$color-black: #000;
$color-off-black: #333;

$ease-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
