
$animate-duration-1x: 2000ms;
$animate-duration-2x: 1000ms;
$animate-duration-4x: 500ms;
$animate-duration-8x: 250ms;
$ease-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
